<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
          <form class="form-signin"
                name="regForm"
                #regForm="ngForm"
                novalidate
                (submit)="onSubmit(regForm)">
            <h2 class="form-signin-heading form-heading">{{ 'REGISTRATION_FORM_HEADER' | translate }}</h2>
            <language-switch></language-switch>
            <div class="form-group"
                  [ngClass]="{'data-error': (regForm.submitted && !name.valid) }">
              <label for="inputName">{{ 'NAME' | translate }}</label>
              <input type="text" 
                      id="inputName"
                      name="name"
                      class="form-control"
                      #name="ngModel"
                      [(ngModel)]="regModel.name"
                      placeholder="" 
                      required 
                      autofocus>
            </div>
            <div [hidden]="!regForm.submitted || name.valid">
              <div class="alert alert-danger">{{ 'REQUIRED' | translate }}</div>
            </div>
            <div class="form-group"
                  [ngClass]="{'data-error': (regForm.submitted && !login.valid) }">
              <label for="inputLogin">{{ 'LOGIN' | translate }}</label>
              <input type="text" 
                      id="inputLogin"
                      name="login" 
                      class="form-control"
                      #login="ngModel"
                      [(ngModel)]="regModel.login"
                      placeholder="" 
                      required>
            </div>
            <div [hidden]="!regForm.submitted || login.valid">
              <div class="alert alert-danger">{{ 'REQUIRED' | translate }}</div>
            </div>
            <div class="form-group"
                  [ngClass]="{'data-error': (regForm.submitted && !email.valid) }">
              <label for="inputEmail">{{ 'EMAIL' | translate }}</label>
              <input type="email" 
                      id="inputEmail"
                      name="email"
                      #email="ngModel"
                      [(ngModel)]="regModel.email"
                      [validEmail]="emailRegExp"
                      class="form-control" 
                      placeholder="" 
                      required>
            </div>
            <div class="alert alert-danger" *ngIf="regForm.submitted && !email.valid">
              <div *ngIf="email.errors.required">{{ 'REQUIRED' | translate }}</div>
              <div *ngIf="email.errors.validEmail">{{ 'INVALID_VALUE' | translate }}</div>
            </div>
            <div class="form-group"
                  [ngClass]="{'data-error': (regForm.submitted && !password.valid) }">
              <label for="inputPassword">{{ 'PASSWORD' | translate }}</label>
              <input type="password" 
                      id="inputPassword" 
                      name="password"
                      class="form-control" 
                      #password="ngModel"
                      [(ngModel)]="regModel.password"
                      [validPassword]="passwordRegExp"
                      placeholder="" 
                      required>
            </div>
            <div class="alert alert-danger" *ngIf="regForm.submitted && !password.valid">
              <div *ngIf="password.errors.required">{{ 'REQUIRED' | translate }}</div>
              <div *ngIf="password.errors.validPassword">{{ 'PASSWORD_REQUIREMENTS' | translate }}</div>
            </div>
            <div class="form-group"
                  [ngClass]="{'data-error': (regForm.submitted && !confirmPassword.valid) }">
              <label for="confirmPassword">{{ 'REPEAT_PASSWORD' | translate }}</label>
              <input type="password" 
                      id="confirmPassword"
                      name="confirmPassword" 
                      class="form-control"
                      #confirmPassword="ngModel"
                      [(ngModel)]="regModel.confirmPassword"
                      validateEqual="password"
                      placeholder="" 
                      required>
            </div>
            <div class="alert alert-danger" *ngIf="regForm.submitted && !confirmPassword.valid">
              <div *ngIf="confirmPassword.errors.required">{{ 'REQUIRED' | translate }}</div>
              <div *ngIf="confirmPassword.errors.validateEqual">{{ 'NOT_MATCH_VALUE' | translate }}</div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <button class="btn btn-lg btn-default pull-right md-btn" type="submit">{{ 'NEXT' | translate }}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>