<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
          <form class="form-signin">
            <h2 class="form-signin-heading">Registration</h2>
            <div class="form-group">
              <label for="inputEmail">Name</label>
              <input type="email" id="inputEmail" class="form-control" placeholder="" required="" autofocus="">
            </div>
            <div class="form-group">
              <label for="inputPassword">Login</label>
              <input type="password" id="inputPassword" class="form-control" placeholder="" required="">
            </div>
            <div class="form-group">
              <label for="inputPassword">Email</label>
              <input type="password" id="inputPassword" class="form-control" placeholder="" required="">
            </div>
            <div class="form-group">
              <label for="inputPassword">Password</label>
              <input type="password" id="inputPassword" class="form-control" placeholder="" required="">
            </div>
            <div class="form-group">
              <label for="inputPassword">Repeat password</label>
              <input type="password" id="inputPassword" class="form-control" placeholder="" required="">
            </div>
            <div class="row">
              <div class="col-sm-12">
                <button class="btn btn-lg btn-default pull-right md-btn" type="submit">Next</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>